# ======================
# Code Owners for Final-Project-2
# ======================

# Global owners
* @YUSEF-RAMY

# ======================
# Code Owners
# ======================

# Core Backend & Architecture
/Backend/           @YUSEF-RAMY
/ApiPostman/        @YUSEF-RAMY @amr-khalid-saleh @Maryam-Elazab @Yousef-samiir @heba10allah

# Infrastructure & DevOps
/Dockerfile         @YUSEF-RAMY
/docker/            @YUSEF-RAMY
/.github/workflows/ @YUSEF-RAMY

# AI & Data Models
/Ai/                @Yousef-samiir @heba10allah

# Frontend Web (React)
/Web/               @YUSEF-RAMY @Maryam-Elazab

# Mobile Application (Flutter/Native)
/Mobile/            @amr-khalid-saleh
