# ======================
# Code Owners for Final-Project-2
# ======================

# Default fallback (optional)
* @YUSEF-RAMY @amr-khalid-saleh

# ======================
# Code Owners
# ======================

# API Docs / Postman
/ApiPostman/        @YUSEF-RAMY @amr-khalid-saleh @Maryam-Elazab @Yousef-samiir @heba10allah


# Core Backend
/Backend/           @YUSEF-RAMY


# AI & Data Models
/Ai/                @Yousef-samiir @heba10allah

# Frontend Web (React)
/Web/               @YUSEF-RAMY @Maryam-Elazab

# Mobile Application (Flutter)
/Mobile/            @amr-khalid-saleh

# Infrastructure & DevOps
/Dockerfile         @YUSEF-RAMY
/docker/            @YUSEF-RAMY
/.github/workflows/ @YUSEF-RAMY