# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env
.env.local
.env.*

# Data files
inbody-ai-predictor/data/*.csv
inbody-ai-extractor/data/
inbody-ai-vision/Training/data/



# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.cache/pycache__/
.ipynb_checkpoints/